@{
    Page.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

   <!--   start breadcrumb area-->
<section class="row breadcrumb-area">
    <div class="container">
        <div class="row m0 page-cover">
            <h2 class="page-cover-tittle">About Me</h2>
        </div>
    </div>
</section>
<!--  End slider area-->
<!--    start about caferesto area-->
<section class="about-caferesto-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5 about-caferesto">
                <div class="about-img">
                    <img src="image\caferesto.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7 about-content">
                <h2 class="head-tittle">About<span>Caferesto</span></h2>
                <p>Maecenas ac diam at justo commodo elementum. Aenean consectetur mauris eget enim feugiat auctor vitae id lorem. Aliquam eget mauris diam. In vestibulum mollis enim ut sodales. Nam quis metus ac risus lacinia sodales. </p>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras eu fringilla massa. Fusce leo tortor, luctus non eleifend eu, consect   etur non tellus. Proin nec magna nec libero dapibus sollicitudin. Donec quis tellus sit amet velit sodales volutpat.</p>
            </div>
        </div>
    </div>
</section>
<!--    End about caferesto area-->
<!--    Start testimonial-area-->
<section class="testimonial-area">
    <div class="container">
        <div class="testimonial-slider">
            <div class="item">
                <div class="testimonial-content">
                    <h2>Our<span>Testimonial</span></h2>
                    <p>“Suspendisse vel ante nisl. Fusce aliquet aliquam diam at posuere. Fusce tristique nisl a orci interdum, eu bibendum enim vulputate. Sed eleifend auctor libero. Integer quis bibendum lorem. Aenean ut ipsum turpis. Aenean tincidunt feugiat tincidunt. Fusce iaculis sem eget leo varius, eget pellentesque nibh elementum. Etiam vel vulputate magna.”</p>
                    <a href="#"><h3>Cedrick Richardson</h3></a>
                    <h4>Company Owner</h4>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-content">
                    <h2>Our<span>Testimonial</span></h2>
                    <p>“Suspendisse vel ante nisl. Fusce aliquet aliquam diam at posuere. Fusce tristique nisl a orci interdum, eu bibendum enim vulputate. Sed eleifend auctor libero. Integer quis bibendum lorem. Aenean ut ipsum turpis. Aenean tincidunt feugiat tincidunt. Fusce iaculis sem eget leo varius, eget pellentesque nibh elementum. Etiam vel vulputate magna.”</p>
                    <a href="#"><h3>Cedrick Richardson</h3></a>
                    <h4>Company Owner</h4>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-content">
                    <h2>Our<span>Testimonial</span></h2>
                    <p>“Suspendisse vel ante nisl. Fusce aliquet aliquam diam at posuere. Fusce tristique nisl a orci interdum, eu bibendum enim vulputate. Sed eleifend auctor libero. Integer quis bibendum lorem. Aenean ut ipsum turpis. Aenean tincidunt feugiat tincidunt. Fusce iaculis sem eget leo varius, eget pellentesque nibh elementum. Etiam vel vulputate magna.”</p>
                    <a href="#"><h3>Cedrick Richardson</h3></a>
                    <h4>Company Owner</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!--    Start testimonial-area-->
<!--    start team area-->
<section class="team-area">
    <div class="container">
        <div class="section-tittle">
            <h2>Our<span class="black">Chefs</span></h2>
            <p>Raesent vitae nisi sit amet tellus sodales commodo auctor nec justo.<br>Duis  vehicula odio, sit amet dapibus nulla.</p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="team-item">
                    <div class="img row m0">
                        <img src="image\team\2.png" alt="">
                    </div>
                    <div class="content">
                        <div class="name">
                            <a href="#"><h3>Cedrick Richardson</h3></a>
                            <h5>Master Chef</h5>
                        </div>
                        <div class="social-nav">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-item">
                    <div class="img row m0">
                        <img src="image\team\3.png" alt="">
                    </div>
                    <div class="content">
                        <div class="name">
                            <a href="#"><h3>Cedrick Richardson</h3></a>
                            <h5>Master Chef</h5>
                        </div>
                        <div class="social-nav">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-item">
                    <div class="img row m0">
                        <img src="image\team\2.png" alt="">
                    </div>
                    <div class="content">
                        <div class="name">
                            <a href="#"><h3>Cedrick Richardson</h3></a>
                            <h5>Master Chef</h5>
                        </div>
                        <div class="social-nav">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-item">
                    <div class="img row m0">
                        <img src="image\team\3.png" alt="">
                    </div>
                    <div class="content">
                        <div class="name">
                            <a href="#"><h3>Cedrick Richardson</h3></a>
                            <h5>Master Chef</h5>
                        </div>
                        <div class="social-nav">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--    End team area-->
