@{
    Page.Title = "Blog";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

   <!--   start breadcrumb area-->
<section class="row breadcrumb-area menu">
    <div class="container">
        <div class="row m0 page-cover">
            <h2 class="page-cover-tittle">Our News</h2>
        </div>
    </div>
</section>
<!--  End slider area-->
<!--    Start Blogs area -->
<section class="blogs-area">
    <div class="container">
        <div class="row">
            <div class="col-md-9 blog-section">
                <div class="blog">
                    <div class="featured_img">
                        <a href="#"><img class="img-responsive" src="image\blog\1.jpg" alt=""></a>
                    </div>
                    <div class="blog-content">
                        <a href="#"><h2>Pellentesque eu Lacus at Nibh Accumsan Semper </h2></a>
                        <a href="#" class="date">23 May 2016</a>
                        <p>Proin egestas sollicitudin ligula quis convallis. Suspendisse sem urna, lobortis id hendrerit sit amet, ultrices ut urna. Mauris et interdum velit. In purus metus, bibendum ac elit id, consectetur hendrerit enim. Fusce vehicula orci at quam pellentesque condimentum. Suspendisse fringilla dignissim felis, eu laoreet eros pharetra quis... </p>
                        <a href="#" class="read-buttons">Read More ...</a>
                        <ul class="social-icon">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="blog">
                    <div class="featured_img">
                        <a href="#"><img class="img-responsive" src="image\blog\2.jpg" alt=""></a>
                    </div>
                    <div class="blog-content">
                        <a href="#"><h2>Pellentesque eu Lacus at Nibh Accumsan Semper </h2></a>
                        <a href="#" class="date">23 May 2016</a>
                        <p>Proin egestas sollicitudin ligula quis convallis. Suspendisse sem urna, lobortis id hendrerit sit amet, ultrices ut urna. Mauris et interdum velit. In purus metus, bibendum ac elit id, consectetur hendrerit enim. Fusce vehicula orci at quam pellentesque condimentum. Suspendisse fringilla dignissim felis, eu laoreet eros pharetra quis... </p>
                        <a href="#" class="read-buttons">Read More ...</a>
                        <ul class="social-icon">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="blog">
                    <div class="featured_img">
                        <a href="#"><img class="img-responsive" src="image\blog\3.jpg" alt=""></a>
                    </div>
                    <div class="blog-content">
                        <a href="#"><h2>Pellentesque eu Lacus at Nibh Accumsan Semper </h2></a>
                        <a href="#" class="date">23 May 2016</a>
                        <p>Proin egestas sollicitudin ligula quis convallis. Suspendisse sem urna, lobortis id hendrerit sit amet, ultrices ut urna. Mauris et interdum velit. In purus metus, bibendum ac elit id, consectetur hendrerit enim. Fusce vehicula orci at quam pellentesque condimentum. Suspendisse fringilla dignissim felis, eu laoreet eros pharetra quis... </p>
                        <a href="#" class="read-buttons">Read More ...</a>
                        <ul class="social-icon">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 sidebar-section">
                <div class="widget-search">
                    <form action="#" class="search-form" method="get">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Search...">
                            <span class="input-group-addon">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="widget-categories">
                    <h2 class="widget-title">CATEGORIES</h2>
                    <ul>
                        <li><a href="#">Tasty Recipes</a></li>
                        <li><a href="#">Hunger</a></li>
                        <li><a href="#">Cafe Resto</a></li>
                        <li><a href="#">Chefs</a></li>
                        <li><a href="#">Menu Types</a></li>
                    </ul>
                </div>
                <div class="widget-gallery">
                    <ul>
                        <li><a href="#"><img src="image\blog\flicker-img1.jpg" alt=""></a></li>
                        <li><a href="#"><img src="image\blog\flicker-img2.jpg" alt=""></a></li>
                        <li><a href="#"><img src="image\blog\flicker-img3.jpg" alt=""></a></li>
                        <li><a href="#"><img src="image\blog\flicker-img4.jpg" alt=""></a></li>
                        <li><a href="#"><img src="image\blog\flicker-img5.jpg" alt=""></a></li>
                        <li><a href="#"><img src="image\blog\flicker-img6.jpg" alt=""></a></li>
                    </ul>
                </div>
                <div class="widget-categories">
                    <h2 class="widget-title">ARCHIVES</h2>
                    <ul>
                        <li><a href="#">January 2016</a></li>
                        <li><a href="#">January 2016</a></li>
                        <li><a href="#">January 2016</a></li>
                        <li><a href="#">January 2016</a></li>
                        <li><a href="#">January 2016</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--    End Blogs area -->
