
@{
    Page.Title = "Etkinlikler";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

   <!--   start breadcrumb area-->
<section class="row breadcrumb-area menu">
    <div class="container">
        <div class="row m0 page-cover">
            <h2 class="page-cover-tittle">Our Events</h2>
        </div>
    </div>
</section>
<!--  End slider area-->
<!-- Start event content area-->
<section class="event-content-area">
    <div class="container">
        <form role="form">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 input-container">
                        <div class="input-group">
                            <select class="selectpicker">
                                <option>Categories
                                <option>Ketchup
                                <option>Barbecue
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1 input-container">
                        <div class="input-group date">
                            <input type="text" class="form-control datepicker" placeholder="Date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 input-container">
                        <div class="search-form">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Search...">
                                <span class="input-group-addon icon">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="button">
                            <div class="slider-button">
                                <a class="" href="#">FIND EVENTS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="events">
            <div class="events-item">
                <div class="media">
                    <div class="media-left">
                        <img src="~/Content/image/events\1.jpg" alt="">
                    </div>
                    <div class="media-body events-content">
                        <a href="#"><h2>Pellentesque Lacus at Nibh Accumsan Semper </h2></a>
                        <h3>June 27, 9:00 AM — 7:00 PM</h3>
                        <h4>Caferesto Restaurant, Santa Monica Boulevard Los Angeles</h4>
                        <p>Nunc eget ex at urna egestas auctor quis et erat. Nulla sapien velit, tincidunt at aliquet eget, ullamcorper nec enim. Nullam ut congue mauris. Donec nec suscipit erat. In nec posuere augue. Mauris bibendum ante at aliquam condimentum. Donec id velit ut enim vulputate fermentum. Aliquam rutrum placerat euismod. </p>
                        <a href="#" class="read-buttons">Read More ...</a>
                    </div>
                </div>
            </div>
            <div class="events-item">
                <div class="media">
                    <div class="media-left">
                        <img src="~/Content/image/events\2.jpg" alt="">
                    </div>
                    <div class="media-body events-content">
                        <a href="#"><h2>Nunc Tincidunt in Libero Quis Suscipit</h2></a>
                        <h3>June 27, 9:00 AM — 7:00 PM</h3>
                        <h4>Caferesto Restaurant, Santa Monica Boulevard Los Angeles</h4>
                        <p>Nunc eget ex at urna egestas auctor quis et erat. Nulla sapien velit, tincidunt at aliquet eget, ullamcorper nec enim. Nullam ut congue mauris. Donec nec suscipit erat. In nec posuere augue. Mauris bibendum ante at aliquam condimentum. Donec id velit ut enim vulputate fermentum. Aliquam rutrum placerat euismod. </p>
                        <a href="#" class="read-buttons">Read More ...</a>
                    </div>
                </div>
            </div>
            <div class="events-item">
                <div class="media">
                    <div class="media-left">
                        <img src="~/Content/image/events\3.jpg" alt="">
                    </div>
                    <div class="media-body events-content">
                        <a href="#"><h2>Praesent at Consectetur Velit</h2></a>
                        <h3>June 27, 9:00 AM — 7:00 PM</h3>
                        <h4>Caferesto Restaurant, Santa Monica Boulevard Los Angeles</h4>
                        <p>Nunc eget ex at urna egestas auctor quis et erat. Nulla sapien velit, tincidunt at aliquet eget, ullamcorper nec enim. Nullam ut congue mauris. Donec nec suscipit erat. In nec posuere augue. Mauris bibendum ante at aliquam condimentum. Donec id velit ut enim vulputate fermentum. Aliquam rutrum placerat euismod. </p>
                        <a href="#" class="read-buttons">Read More ...</a>
                    </div>
                </div>
            </div>
            <div class="events-item">
                <div class="media">
                    <div class="media-left">
                        <img src="~/Content/image/events\4.jpg" alt="">
                    </div>
                    <div class="media-body events-content">
                        <a href="#"><h2>Vestibulum Non Imperdiet Mauris</h2></a>
                        <h3>June 27, 9:00 AM — 7:00 PM</h3>
                        <h4>Caferesto Restaurant, Santa Monica Boulevard Los Angeles</h4>
                        <p>Nunc eget ex at urna egestas auctor quis et erat. Nulla sapien velit, tincidunt at aliquet eget, ullamcorper nec enim. Nullam ut congue mauris. Donec nec suscipit erat. In nec posuere augue. Mauris bibendum ante at aliquam condimentum. Donec id velit ut enim vulputate fermentum. Aliquam rutrum placerat euismod. </p>
                        <a href="#" class="read-buttons">Read More ...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End event content area-->

